$text-black: #363636;
$text-link-blue: #3273dc;

.container {
  width: 960px;
}

.card {
  margin-top: 20px;
  img {
    border-radius: 50%;
  }
  .card-header {
    .title a:hover {
      color: $text-link-blue;
      text-decoration: underline;
    }
  }
  .user {
    a {
      color: $text-black;
      &:hover {
        color: $text-black;
        text-decoration: underline;
      }
    }
  }
  .label {
    display: inline;
    padding: 5px;
    border-radius: 2px;
    margin-right: 10px;
  }
  .repo-title a {
    &:hover {
      text-decoration: underline;
      color: $text-link-blue;
    }
  }
  .content {
    span {
      margin-right: 20px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 80%;
  }
}